# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* Popular Languages for Data Science
* Commonly used Libraries by Data Science
* Tools for Data Science
* Introduction to R and RStudio
* Introduction to GitHub
* Introduction to Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scipy
3. Pandas 
4. Matplotlib
5. SciKit-Learn
6. Keras

|Data Science Tools|
|------------------|
|RStudio|
|TensorFlow|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
in_hours = 200/60
print(in_hours)

3.3333333333333335

## Author
Affan Momin